doctype html
html
  head
    title
    |     
    link(rel='stylesheet', href='/stylesheets/style.css')
  |   
  body
    .row
      .col-md-3
      |       
      .col-md-5(style="background-color:#80C080")
        a(href='/todo/list') Show all tasks
        |         
        h1 Let's Create a Task
        |         
        form#todoForm(method='POST', action='/todo')
          input(type='hidden', name='db_id', value='')
          |           
          .formfield
            .formfield--prompt Title:
            |             
            input#todoTitle(type='text', name='title', value='Title')
          |           
          .formfield
            .formfield--prompt Description:
            |             
            textarea#todoDescription(type='text' name='description')
          |           
          .formfield
            .formfield--prompt Priority:
            |             
            input#todoPriority(type='number', name='priority', value='<%= todo.priority %>')
          |           
          .formfield
            .formfield--prompt Complete by:
            |             
            input#todoDuedate(type='date', name='due_date', value='')
          |           
          .formfield
            .formfield--prompt Completed:
            |             
            input#todoDone(type='checkbox', name='complete')
          |           
          input.submitButton(type='submit')
    |     
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    |     
    script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js')
    |     
    script(src='http://jqueryvalidation.org/files/dist/additional-methods.min.js')
    |     
    script(src='/javascripts/validate.js')
