html
  body
    .row
      .col-md-3
      .col-md-6(style="background-color:#80C080")
        .h1 Welcome to the Registration Page
        form#registerForm
          .formfield
            .formfield--prompt Username:
            input(type="text", id='username', name='username')
          .formfield
            .formfield--prompt Password:
            input(type='password', id='password', name='password')
          input.submitButton(type='submit', ng-click='')
             
           
        
         
