extends layout

block body
  h3 Welcome to the My (Todo) app 
  h3 Please Login or if not a Member Please Register
  div(ng-controller='AppCtrl')
    | 
    ul.menu
      li
        a(href='login') Login
      li
        a(href='register') Register  

    div(ng-view)

    div
      | The Make a Todo App vs.
      span(app-version)

    table.table
      tr
        td by Wiley Walker
        td and the NSS
       
       
